:root{
    box-sizing: border-box;
}

::before ::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Raleway', sans-serif;
}

.navbar{
    width: 100%;
    height: 56px;
}

.navbar .links{
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    background-color: #000;

}

.links li a{
    color: white;
    text-decoration: none;
}

.links .logo img{
    margin-top: 16px;
    margin-bottom: -32px;
    height: 66px;
    width: 66px;
    background-color: #000;
    padding: 10px;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 2% 50%);
}

header{
    background-image: url("fondo.jpg");
    background-size: cover;    
    text-align: center;
    height: 600px;
}

.mainlogo{
    margin: 0 auto;
    padding: 10%;
    color: #fff;
}

.mainlogo h2{
    font-weight: lighter;
    font-family: 'Monoton',cursive;
    font-size: 100px;
}

.boxes article{
    position: relative;
    background-color: #fff;
    border-radius: 2%;
    box-shadow: 7px 5px 7px grey;
}

.article-img {
    border-radius: 2% 2% 0 0;
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.boxetext{
    padding: 10px 30px;
    text-align: justify;
}

article h2{
    color: black;
}

.boxes {
    max-width: 1500px;
    margin: 30px auto;
    padding: 0 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-gap: 20px;
    font-size: 1.6em;
}

.article-btn {
    color: #fff;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border-width: 0;
    margin: 10px auto;
    transition: 200ms ease all;
    background-color: orange;
}

.forms {
    max-width: 100%;
    margin: 30px auto;
    padding: 0 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
    grid-gap: 40px;
    background-image: url("contacus.jpg");
    background-size: cover;  
    font-size: 1.6em;
}

.forms article{
    position: relative;
    border-radius: 4%;
    padding: 8%;
    color: white;

}

.textentry{
    font-size: 1em;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border-width: 0;
    margin: 10px auto;
}

.bigtextentry{
    font-size: 1em;
    width: 100%;
    height: 150px;
    border-radius: 8px;
    border-width: 0;
    margin: 10px auto;
}

.formtext2 {
    padding: 10px;
    text-align: justify;
}